.panel-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}
.panel-grid-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    border-color: #70c23a;
}
.panel-heading, .modal-header{
    background-color: #0055a5 !important;
    color: #fff !important;
}
/* .jqx-grid-column-header{
    background-color: #0055a5 !important;
    color: #fff !important; 
} */
